
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row m-b-20">
                <div class="col-12">
                    </br>
                    <h4 class="mt-0 mb-3">Hogar de Niños y Niñas Baik</h4>
                    <div class="card-deck-wrapper">
                        <div class="card-deck">
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/W1.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Misión</h4>
                                    <p class="card-text">
                                        Dar protección, educación, seguridad y amor a los niños y niñas que nos sean confiados impulsando su autonomía, desde una formación humana, cristiana, que mejore su calidad de vida y les permita reintegrarse a la sociedad con éxito.
                                    </p>                                 
                                </div>
                            </div>
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/w2.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Visión</h4>
                                    <p class="card-text">
                                        Ser un Hogar modelo en Atención Integral a niños y niñas en abandono y riesgo social.
                                    </p>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/w3.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Objetivo</h4>
                                    <p class="card-text">
                                        Brindar un hogar que ofrezca atención integral a los niños (as) que por diversas razones se encuentran en abandono y riesgo social.
                                    </p>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
                        </div>
                    </div>
                </div>
