
@{
    ViewData["Title"] = "ActividadesCliente";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<br />
<br />
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row m-b-10">
                <div class="col-12">
                    <h2 class="mt-0 mb-3">Actividades disponibles</h2>
                    <div class="card-deck-wrapper">
                        <div class="card-deck">
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/Bingo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h2 class="card-title">Bingo Hogar Baik</h2>
                                    <h2 class="card-title">Lugar: Hogar Baik</h2>
                                    <h3>
                                        Primer bingo del hogar Baik para recaudar fondos para el nuevo dormitorio de los niños, te esperamos!
                                    </h3>
                                    <h2 class="card-title">Hora: 6:00 pm</h2>
                                    <h2 class="card-title">Tel:2525-8213</h2>
                                    <h2 class="card-title">Fecha: 25/8/2021</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-12">
                    <div class="card mb-4">
                        <img class="card-img-top img-fluid" src="~/assets/images/gallery/Carrera.jpg" alt="Card image cap">
                        <div class="card card-body">
                            <h2 class="card-title">Carrera Hogar Baik</h2>
                            <h2 class="card-title">Lugar: Plaza de deportes Guadalupe</h2>
                            <h3>
                                Primer carrera del hogar Baik para recaudar fondos para los regalos de navidad de los niños, no te lo pierdas
                            </h3>
                            <h2 class="card-title">Hora: 8:00 am</h2>
                            <h2 class="card-title">Tel:2525-8213</h2>
                            <h2 class="card-title">Fecha: 25/11/2021</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="~/assets/images/gallery/Ventas.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Ventas día de la madre</h2>
                    <h2 class="card-title">Lugar: Hogar Baik</h2>
                    <h3>
                        Disfrute de ricos platillos preparados por los vecinos de la comunidad de Guadalupe de Cartago, se realizarán rifas
                        para recaudar fondos al Centro.
                        ¡Te esperamos!
                    </h3>
                    <h2 class="card-title">Hora: 11:00 am</h2>
                    <h2 class="card-title">Tel:2525-8213</h2>
                    <h2 class="card-title">Fecha: 15/8/2021</h2>
                </div>
            </div>
        </div>
    </div>
</div>