
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row m-b-20">
                <div class="col-12">
                    <h4 class="mt-0 mb-3">Decks</h4>
                    <div class="card-deck-wrapper">
                        <div class="card-deck">
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/W1.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        This is a longer card with supporting text below as
                                        a natural lead-in to additional content. This content is a little
                                        bit longer.
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/w2.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        This card has supporting text below as a natural
                                        lead-in to additional content.
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/w3.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        This is a wider card with supporting text below as
                                        a natural lead-in to additional content. This card has even longer
                                        content than the first to show that equal height action.
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-b-20">
                <div class="col-12">
                    <h4 class="mt-0 mb-3">Decks</h4>
                    <div class="card-deck-wrapper">
                        <div class="card-deck">
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/w4.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Sr. Sung Hak Baik.</h4>
                                    <p class="card-text">
                                        This is a longer card with supporting text below as
                                        a natural lead-in to additional content. This content is a little
                                        bit longer.
                                    </p>
                                 
                                </div>
                            </div>
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/w5.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        This card has supporting text below as a natural
                                        lead-in to additional content.
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <img class="card-img-top img-fluid" src="~/assets/images/gallery/1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        This is a wider card with supporting text below as
                                        a natural lead-in to additional content. This card has even longer
                                        content than the first to show that equal height action.
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>